@model Minie.Carters.Data.Order

@{
    ViewBag.Title = "ropinhas - Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalPrice = Model.Items.Sum(i => i.Price * i.Quantity);
    var allItemsValid = !Model.Items.Any(i => !i.IsValid);
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Checkout</h3>
        @if (Model == null)
        {
            <p>Seu carrinho esta vasio</p>
        }
        else
        {
            <table class="table table-condensed checkout">
                <thead>
                    <tr>
                        <th style="width: 160px;"></th>
                        <th></th>
                        <th style="width: 40px"></th>
                        <th style="width: 100px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr data-sku="@item.SKU" data-size="@item.Size">
                            <td>
                                <img src="@item.ImageUrl?sw=192&sh=192" class="img-responsive"/></td>
                            <td><strong>@HttpUtility.HtmlDecode(item.Name)</strong>&nbsp;(@item.Size)
                                @if (!item.IsValid)
                                {
                                    <h4 class="text-danger">Item indisponível</h4>
                                }
                            </td>
                            <td>
                                <input type="number" value="@item.Quantity" style="width: 40px;" data-price="@item.Price" /></td>
                            <td>x R$ @item.Price.ToString("N2", new System.Globalization.CultureInfo("pt-BR"))<br />
                                <p>
                                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;Apagar</button>
                                </p>
                            </td>
                        </tr>
                    }
                    <tr style="font-weight: bold;">
                        <td></td>
                        <td id="itemsQuantity" colspan="2" style="text-align: right;">@Model.Items.Sum(i => i.Quantity) itens</td>
                        <td id="itemsTotal">R$ @totalPrice.ToString("N2", new System.Globalization.CultureInfo("pt-BR"))</td>
                    </tr>
                    <tr style="display: @(User.Identity.IsAuthenticated ? "table-row" : "none")">
                        <td colspan="4">
                            <h4>Termos e Condições</h4>
                            <ul>
                                <li>Items availability depends on their availability in Carter's online store.</li>
                                <li>Prazo de entrega é ate 30 dias uteis</li>
                                <li><strong>Orders less than 10 items will be processed separatly once a week. Prazo de entrega é mais de 30 dias uteis.</strong></li>
                            </ul>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="terms">
                                    Aceito os termos e condições
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr style="display: @(User.Identity.IsAuthenticated ? "table-row" : "none")">
                        <td colspan="4" style="text-align: center; border-top: none;">
                            <button class="btn btn-lg btn-primary disabled" id="btnCO" style="margin-top: 20px;" onclick="_doCheckout()"><i class="glyphicon glyphicon-credit-card"></i>&nbsp;Pagamento</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            if (!User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-6">
                        @Html.Partial("_SignIn", new Minie.Carters.Models.UserSignin())
                    </div>
                    <div class="col-md-6" style="border-left: 1px solid #eee;">
                        @Html.Partial("_SignUp", new Minie.Carters.Models.UserSignup())
                    </div>
                </div>
            }
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        loadCart();

        $("input[type=number]").on('change', function () {
            if (isNaN(parseInt($(this).val())) || parseInt($(this).val()) < 1) { $(this).val("1"); }
            var $tr = $(this).closest("tr");
            updateItemQuantity($tr.data("sku"), $tr.data("size"), $(this).val());
        });

        $("table.checkout .btn-sm.btn-danger").on('click', function () {
            var $tr = $(this).closest("tr");
            removeItem($tr.data("sku"), $tr.data("size"), function () { $tr.remove(); });
        });

        $("#terms").on('change', function () { $("#btnCO").toggleClass("disabled", !$(this).is(":checked")); });

        function _doCheckout() {
            $.post("/Orders/DoCheckout", {}, function (response) {
                console.log(response);
                document.location.href = response.url;
            });
        }
    </script>
}
