<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/icon.png" type="image/png">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mc.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="page">
        <header>
            @Html.Partial("_Navbar", Minie.Carters.Models.AppData.Categories)
        </header>
        <div class="container main">
            @RenderBody()
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    <div class="modal fade" id="login" data-remote="@Url.RouteUrl("UserSignin")">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="sizeChart" data-remote="@Url.RouteUrl("SizeChart")">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/mc.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
