@model Minie.Carters.Data.Product

<div class="modal-body">
    <div class="row">
        <div class="col-md-5">
            <a class="modal-image" href="@Model.Image" title="@Model.Name">
                <img src="@Model.Image?sw=350&sh=350" class="img-responsive img-thumbnail" />
            </a>
        </div>
        <div class="col-md-7">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3>@Model.Name</h3>
            <hr />
            <div>
                <p>
                    Por favor escolhe o tamanho:
                </p>
                <div class="btn-group" data-toggle="buttons" id="pmSizes">
                    @foreach (var size in Model.Sizes)
                    {
                        <label class="btn btn-default">
                            <input type="radio" name="size" id="size" onchange="$('#pmAddToCart').removeClass('disabled')" value="@size">
                            @size
                        </label>
                    }
                </div>
                <p>&nbsp;</p>
                <div>
                    <a href="#" data-toggle="modal" data-target="#sizeChart">Guia de tamanhos</a>
                </div>
                <p>&nbsp;</p>
                <div class="text-right">
                    <span class="modal-price">@string.Format("{0:c}", Model.Price * Minie.Carters.Models.AppData.ExchangeRate)</span>
                </div>
                <div class="fb-share-button pull-left"  style="margin-top: 7px;" data-href="http://minic.apphb.com/products/@Model.SKU?ref=fb" data-type="button_count"></div>
                <button class="btn btn-warning dropdown-toggle disabled pull-right" id="pmAddToCart"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Pôr no carrinho</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('.modal-image').jqzoom();
        try {
            FB.XFBML.parse();
        } catch (e) {
            $('.fb-share-button').remove();
        }
    }, 1000);
    $("#pmAddToCart").on('click', function () {
        addToCart('@Model.SKU', $("#pmSizes label.active > input").val());
    });
</script>
