@model Minie.Carters.Data.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ropinhas - @Model.Name</title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://minic.apphb.com/@Model.Category?pid=@Model.SKU&ref=fb" />
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:image" content="@Model.Image" />
    <meta property="og:description" content="@Model.Name de Carter's por apenas @string.Format("{0:C}", Model.Price * 5)" />
</head>
<body>

</body>
</html>
